.output {
  margin: 32px auto;
  background-color: #ec407a;
  border-radius: 32px;
  padding: 16px 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;

  @media screen and (max-width: 450px) {
    margin: 16px auto;
    padding: 8px 12px;
    border-radius: 16px;
  }
}

.output > p {
  width: 100%;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: white;
}

.output > div {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

p.selectedCompliment {
  display: block;
  font-size: 44px;
  line-height: 1;
  font-weight: 700;
  color: white;

  @media screen and (max-width: 450px) {
    font-size: 20px;
  }
}

.clearBtn {
  display: block;
  width: 112px;
  height: 72px;
  border-radius: 28px;
  background: #f48fb1;
  color: white;
  font-size: 32px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  margin-left: auto;

  &:hover {
    background: #ec407a;
  }

  @media screen and (max-width: 450px) {
    width: 72px;
    height: 48px;
    border-radius: 16px;
    font-size: 22px;
  }
}
