.title {
  margin-bottom: 32px;
}

.main {
  display: flex;
  min-height: 90vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 60px;

  @media screen and (max-width: 450px) {
    padding: 20px;
  }
}
